.totalMacro{
    position: relative;
    background-color: #867D7D;
    height:15px;
    width:200px;
    border-radius:10px
}

.qntdMacro{
    position:absolute;
    background-color: #9f2525;
    height:15px;
    width:150px;
    border-radius:10px
}

#qntdCarbo{
    background-color: #1A9B27
}

#qntdProteina{
    background-color: #9B1A1A
}

#qntdGordura{
    background-color: #C9CC1F
}

#modalAdcAlimentos{
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.452);
    position: fixed;
    z-index: 999;
    display:flex;
    justify-content:center;
    align-items: center;
    display: none;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    background: rgb(41, 41, 41);
    width: 60%;
    height:60%;
    min-width: 300px;
    padding:50px;
    border-radius:10px;
}

.modal #buscarAlimentos{
    width: 100%;
    border:none;
    border-radius:5px;
    height:90px;
    margin: 20px 0;
    padding:5px;
    font-size: 24px;
    outline: none;
}

#fechar{
    position: absolute;
    top: 0;
    right:0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:black;
    cursor: pointer;
}

#modalAdcAlimentos.mostrar{
    display: flex;
}

#alimentos{
    background-color: blue;
    width:100%;
    max-height: 90%;
    overflow-y: scroll;
}

.alimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:red;
    margin-bottom: 20px;
    border-radius:10px;
    height:80px;
    cursor:pointer
}

#info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

#info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.macros{
    display: flex;
    justify-content: space-between;
    background-color: rgb(163, 63, 63);
    width: 40%;
}